* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html, body {
    height: 100%;     
}

body {

    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
}



h1  {
    color: red;
}

/****** COLORS *****/

.bg-grey {
    background-color: grey;
 
}

.bg-red {
    background-color: red;
    
}

.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}

.bg-dark-red {
    background-color: rgb(153, 0, 0) ;
}

.bg-green {
    background-color: green;
}

.bg-yellow {
    background-color: yellow;
}

.bg-black {
    background-color: black;
    height: 90%;
}

/***** MAIN  *****/

.grey-container {
    height: 100%;
    border: 1px solid grey;
}

.pokedex-container {
   height: 600px;
   width: 800px;
    border: 5px solid black;
}

.top-container {
    
    border-bottom: 5px solid black;

}


/**** *****/

.blue-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(0, 119, 255);
    border: 1px solid black;
}


.small-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black ;
}