html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    
   
}
  

h1  {
    color: red;
}



.pokemon-div {
    list-style: none;
    border: 1px solid black;
    background-color: #f4f4f4;
    color: black;
    text-align: center;
    height: 300px;
    width: 300px;
}

.poke-container {
    height: 600px;
    width: 600px;
}